<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload Image</title>
  <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/app.css" />
  <link  rel="stylesheet" href="https//fonts.googleapis.com/css?family=Shadows+Into+Light" />
  <script>
      UPLOADCARE_LIVE = false;
      UPLOADCARE_IMAGES_ONLY = true;
      UPLOADCARE_CROP = 'free';
  </script>
  {{ app.uploadcare.widget.getScriptTag | raw }}
</head>
<body>
  <div class="container">
    {% block main %}{% endblock %}
  </div>
  
  {% block script %}{% endblock %}
  
</body>
</html>